body {
  font-family: Montserrat, sans-serif;
}
.navbar-brand {
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 121px;
  height: 50px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

.nav-items span{
    color: white;
}

.main_page img{
    width: 100%;
  height: auto;
}

.my_navbar{
    background-color:#d5282c;
}

.nav-item{
  list-style: none;
}
/*---------------------------------------------*/
.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;-webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #31B0D5; -webkit-box-shadow: 0 0 3px #31B0D5; }
  50% { background-color: #31B0D5; -webkit-box-shadow: 0 0 40px #31B0D5; }
  100% { background-color: #31B0D5; -webkit-box-shadow: 0 0 3px #31B0D5; }
}

@-moz-keyframes glowing {
  0% { background-color: #31B0D5; -moz-box-shadow: 0 0 3px #31B0D5; }
  50% { background-color: #31B0D5; -moz-box-shadow: 0 0 40px #31B0D5; }
  100% { background-color: #31B0D5; -moz-box-shadow: 0 0 3px #31B0D5; }
}

@-o-keyframes glowing {
  0% { background-color: #31B0D5; box-shadow: 0 0 3px #31B0D5; }
  50% { background-color: #31B0D5; box-shadow: 0 0 40px #31B0D5; }
  100% { background-color: #31B0D5; box-shadow: 0 0 3px #31B0D5; }
}

@keyframes glowing {
  0% { background-color: #31B0D5; box-shadow: 0 0 3px #31B0D5; }
  50% { background-color: #31B0D5; box-shadow: 0 0 40px #31B0D5; }
  100% { background-color: #31B0D5; box-shadow: 0 0 3px #31B0D5; }
}

#mybutton {
  position: fixed;
  bottom: 5%;
  right: 10px;

}
#mybutton2 {
  position: fixed;
  bottom: 5%;
  right: 135px;
}
.whatsapp{
  background-color :  #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #25D366;
  -webkit-animation: glowing2 1500ms infinite;
  -moz-animation: glowing2 1500ms infinite;
  -o-animation: glowing2 1500ms infinite;
  animation: glowing2 1500ms infinite;
}
@-webkit-keyframes glowing2 {
  0% { background-color: #25D366; -webkit-box-shadow: 0 0 3px #25D366; }
  50% { background-color: #25D366; -webkit-box-shadow: 0 0 40px #25D366; }
  100% { background-color: #25D366; -webkit-box-shadow: 0 0 3px #25D366; }
}

@-moz-keyframes glowing2 {
  0% { background-color: #25D366; -moz-box-shadow: 0 0 3px #25D366; }
  50% { background-color: #25D366; -moz-box-shadow: 0 0 40px #25D366; }
  100% { background-color: #31B0D5; -moz-box-shadow: 0 0 3px #31B0D5; }
}

@-o-keyframes glowing2 {
  0% { background-color: #25D366; box-shadow: 0 0 3px #25D366; }
  50% { background-color: #25D366; box-shadow: 0 0 40px #25D366; }
  100% { background-color: #31B0D5; box-shadow: 0 0 3px #25D366; }
}

@keyframes glowing2 {
  0% { background-color: #25D366; box-shadow: 0 0 3px #25D366; }
  50% { background-color: #25D366; box-shadow: 0 0 40px #25D366; }
  100% { background-color: #25D366; box-shadow: 0 0 3px #25D366; }
}
